jobs:
  update-flakes:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
      - uses: easimon/maximize-build-space@v6
        with:
          overprovision-lvm: true
          remove-android: true
          remove-dotnet: true
          remove-haskell: true
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v12
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community
          name: rayandrew-nix-config
      - name: Update flake.lock
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          nix flake update --commit-lock-file
      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch main
      - name: Build Home-Manager configs
        run: nix build '.#homeConfigurations.home-linux.activationPackage'
      - name: Build NixOS configs
        run: |-
          nix build '.#nixosConfigurations.ucare-07.config.system.build.toplevel'
          nix build '.#nixosConfigurations.gitea.config.system.build.toplevel'
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          body: |
            ## Run report
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          branch: flake-updates
          delete-branch: true
          title: Update flake.lock
name: update-flakes
"on":
  schedule:
    - cron: 40 4 * * 0,2,4,6
  workflow_dispatch: null
