jobs:
  update-flakes-macos:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: macos-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v12
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community
          name: rayandrew-nix-config
      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch main
      - name: Build Home-Manager configs
        run: nix build '.#homeConfigurations.home-macos.activationPackage'
      - name: Build Nix Darwin configs
        run: nix build '.#darwinConfigurations.github-ci.system'
name: update-flakes-darwin
"on":
  workflow_dispatch: null
  workflow_run:
    types:
      - completed
    workflows:
      - update-flakes
